site_name: Maia's Documentation
theme:
  name: material
  logo: logo.png
  favicon: logo.png
  features:
    - navigation.tabs
  icon:
    repo: fontawesome/brands/github
  palette: 

    # Palette toggle for light mode
  - scheme: default
    toggle:
      icon: material/brightness-7 
      name: Switch to dark mode

    # Palette toggle for dark mode
  - scheme: slate
    toggle:
      icon: material/brightness-4
      name: Switch to light mode
extra_css:
  - extra.css

repo_url: https://github.com/roostersa123/mkdocs


extra:
  social:
    - icon: fontawesome/brands/twitter
      link: https://www.maiaroos.com
    - icon: fontawesome/brands/facebook
      link: https://www.maiaroos.com
    - icon: fontawesome/brands/slack
      link: https://www.maiaroos.com
    - icon: fontawesome/brands/gitlab
      link: https://www.maiaroos.com
    - icon: fontawesome/brands/linkedin
      link: https://www.maiaroos.com

plugins:
  - search
  - git-revision-date-localized

markdown_extensions:
  - pymdownx.tasklist:
      custom_checkbox: true
  - admonition
  - pymdownx.details
  - pymdownx.superfences  

nav:
  - Home: 
    - Welcome: index.md
  - How To:
    - Guides: how-to-guides.md
  - Blog:
    - Blog: blog/blog.md

site_dir: public/